nav {
  display: flex;
}

#nav-items {
  display: flex;
}

.nav-item {
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.nav-item:hover {
  color: blue;
}

#recommendationForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

ul {
  list-style: none;
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.423);
  padding: 3vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

#recommendationForm {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.423);

}

input {
  width: 13vw;
  margin: 1vh;
}

#recommendationsResult {
  align-items: center;
  justify-content: center;
}

img {
  height: 10vh;
}

body {
  font-family: 'Roboto', sans-serif;
}